<div class="container">

  <h1>Chores!</h1>

  <h2>list of common chores!</h2>

  <table class="table table-striped">
    
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Chore</th>
        <th scope="col">Completed</th>
        <th scope="col">Points</th>
        <th scope="col">User A</th>
        <th scope="col">User B</th>
      </tr>
    </thead>


    <tbody>
    
      {{#each chores}}
        <tr>
        <th scope="row">{{dataValues.id}}</th>
        <td>{{dataValues.chore}}</td>
        <td>{{dataValues.completed}}</td>
        <td>{{dataValues.points}}</td>
        <td>{{dataValues.user}}</td>
        <td>{{dataValues.user}}</td>
      </tr>
      {{/each}}
            {{#each users}}
        <tr>
        <th scope="row">{{dataValues.id}}</th>
        <td>{{dataValues.user}}</td>
        <td>{{dataValues.user}}</td>
      </tr>
      {{/each}}

    </tbody>

  </table>

</div>

