<div class="container">

  <h1>Chores!</h1>

  <h2>list of common chores!</h2>

  <table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Chore</th>
        <th scope="col">Completed</th>
        <th scope="col">Points</th>
        {{#each users}}
        <th scope="col">{{dataValues.user}}</th>
        {{/each }}
      </tr>
    </thead>


    <tbody>
      {{#each chores as |chore|}}
      <tr>
        <th scope="row">{{dataValues.id}}</th>
        <td>{{dataValues.chore}}</td>
        <td>{{dataValues.completed}}</td>
        <td>{{dataValues.points}}</td>
        {{!-- // calling the partials handlebars {{!expressions}} --}}
        {{log users}}
        {{#each users as |user| }}
        <td>
           {{!-- // {{!expressions}} --}}
        <select class="form-select" aria-label="Default select example">
          <option selected>Select one option</option>
          <option value="0">Finish</option>
          <option value="1">In Proges</option>
        </select>

          <button class="completed-button" data-user={{user.dataValues.id}} data-chore={{chore.dataValues.id}}>
	  {{!-- // botones {{!expressions}} --}}
 
            Complete
          </button>
        </td>
        {{/each}}
      </tr>
      {{/each}}

    </tbody>

  </table>

</div>